.idea/
target/
**/target
/parquet/
derby.log
metastore_db/
out/
metorikku.iml
examples/output
e2e/*/output
e2e/*/*/output
e2e/*/warehouse
e2e/*/*/warehouse

.metals
.bloop
**/metals.sbt
spark-warehouse
.DS_Store
**/.DS_Store
